.bg-gradient-to-r {
    background: linear-gradient(180deg, #1DCDFE 0%, rgba(29, 205, 254, 0) 100%), #1078A4;
  }
.webcam{
  border-radius: 25px;
  height: 25vh;
  width: 40%;
  padding: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.textemotions{
  padding-top: 0px;
  position: flex;
  font-weight: 800;
  font-size: xxx-large;
}
.textemotions b{
  color: #fe601d;
}
.column{
  width: 40%;
  float: left;
  justify-content: center;
  text-align: center;
}